name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 82.64.171.203
          username: syff
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2222
          script: |
            cd ~/wvw-analytics
            git pull origin main
            # Le hook post-merge s'occupe du reste automatiquement
